html {
   display: block;
 }
 body {
   font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
 }
 h1 {
   font-style: normal;
   font-weight: 700;
   text-transform: none;
   text-decoration: none;
   letter-spacing: 0em;
   word-spacing: 0em;
   line-height: 1.4;
   font-size: 28px;
   text-transform: uppercase;
   margin-bottom: 0;
 }
 h3 {
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   text-transform: none;
   text-decoration: none;
   letter-spacing: 0em;
   word-spacing: 0em;
   line-height: 1.4;
   text-transform: uppercase;
 }
 p {
   font-size: 18px;
   line-height: 40px;
 }
 li {
   list-style: none;
 }
