$bg-white:white;
 $bg-dark:#2B3745;
 $text-grey:#B5BCC2;
 $text-white:white;
 $text-dark:#2B3745;
 $text-link:#3F53A5;
 $icon-color:#8F76C7;
 $icon-hover:#3D424E;
 $button-color:#485AA7;
 $screen-sm-min:768px;
 $screen-md-min:992px;
 $screen-lg-min:1200px;
// hero
 $base-border-radius:3px !default;
 $base-accent-color:#477DCA !default;
 $large-screen:em(860) !default;
 $hero-background-top:#7F99BE;
 $hero-background-bottom:#20392B;
 $hero-color:white;
 $gradient-angle:10deg;
 $hero-image:"images/jumbo.jpg";
