$bg-white:white;
 $bg-dark:#2B3745;
 $text-grey:#B5BCC2;
 $text-white:white;
 $text-dark:#2B3745;
 $text-link:#3F53A5;
 $icon-color:#8F76C7;
 $button-color:#485AA7;
 $screen-sm-min:768px;
 $screen-md-min:992px;
 $screen-lg-min:1200px;
