<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>GrowthGlasgow</title>
</head>

<body>
  <h1>{{ title }}</h1>
  <ul>
    {{#each users}}
      <img src="{{profile}}" alt="{{displayName}}" />
    {{/each}}
  </ul>
</body>

</html>
